html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

* {
  font-family: 'Poppins', sans-serif;
}

.grey-divider {
  width: 2.2rem;
  height: 1px;
  background-color: #707070;
}

.schedule-container {
  display: grid;
  grid: 610px / repeat(4, 420px);
  padding: 0;
  margin: 0;
}

.schedules-portfolio-info h3 {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #F92524;
}

.schedules-portfolio-info h5 {
  margin: 8px 0px;
  font-size: 1.5rem;
  font-weight: 200;
}

.schedules-portfolio-info p {
  text-align: start;
  font-size: 1.2rem;
  font-weight: 200;
}

.schedules-portfolio-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 610px;
}

#show-details {
  background-color: #000;
  opacity: 0.8;
  display: none;
  height: 100%;
  width: 390px;
  padding: 16px;
}

.schedules-portfolio-info:hover #show-details {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  color:#fff;
  justify-content: center;
}
